.features3-layout253 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.features3-max-width {
  gap: 48px;
  display: flex;
  align-items: flex-start;
}
.features3-section-title {
  flex: 1;
  align-items: flex-start;
}
.features3-content {
  align-self: stretch;
  align-items: flex-start;
}
.features3-content1 {
  flex: 1;
}
.features3-list-item {
  align-items: center;
}
.features3-content2 {
  align-self: stretch;
}
.features3-title1 {
  text-align: center;
}
.features3-description1 {
  text-align: center;
}
.features3-content3 {
  align-self: stretch;
}
.features3-title11 {
  text-align: center;
}
.features3-description11 {
  text-align: center;
}
.features3-list1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features3-content4 {
  align-self: stretch;
}
.features3-title12 {
  text-align: center;
}
.features3-description12 {
  text-align: center;
}
.features3-content5 {
  align-self: stretch;
}
.features3-title13 {
  text-align: center;
}
.features3-description13 {
  text-align: center;
}
@media(max-width: 991px) {
  .features3-layout253 {
    flex-direction: column;
  }
  .features3-max-width {
    gap: 32px;
    flex-direction: column;
  }
  .features3-section-title {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .features3-max-width {
    gap: 24px;
  }
  .features3-list {
    flex-direction: column;
  }
  .features3-list1 {
    flex-direction: column;
  }
}
