.navbar6-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar6-navbar-interactive {
  width: 100%;
  height: 58px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.navbar6-image1 {
  height: 3rem;
  background-size: cover;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/84ec08e8-34e9-42c7-9445-d2806d156403/fac575ac-7a41-484f-b7ac-875042de11f8?org_if_sml=1&force_format=original");
}
.navbar6-container1 {
  top: 100px;
  right: 0px;
  width: 35%;
  display: grid;
  padding: 24px;
  grid-gap: var(--dl-space-space-halfunit);
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  animation-name: fadeInDown;
  animation-delay: 0s;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  grid-template-columns: 1fr;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar6-menu-item {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
}
.navbar6-page1-image {
  width: 100px;
  height: 100px;
}
.navbar6-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar6-page1 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
}
.navbar6-page2-image {
  width: 100px;
  height: 100px;
}
.navbar6-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar6-page2 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
}
.navbar6-page3-image {
  width: 100px;
  height: 100px;
}
.navbar6-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar6-page3 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
}
.navbar6-page4-image {
  width: 100px;
  height: 100px;
}
.navbar6-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar6-page4 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar6-links {
  gap: 32px;
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-link5-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-container2 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownLeft;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar6-icon {
  width: 24px;
  height: 24px;
}
.navbar6-container3 {
  display: flex;
  align-items: center;
  animation-name: rotateInDownRight;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: flex-end;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar6-icon02 {
  width: 24px;
  height: 24px;
}
.navbar6-burger-menu {
  display: none;
}
.navbar6-icon04 {
  width: 16px;
  height: 16px;
}
.navbar6-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar6-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.navbar6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.navbar6-logo {
  height: 3rem;
}
.navbar6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar6-icon06 {
  width: 16px;
  height: 16px;
}
.navbar6-links1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navbar6-link5-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar6-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar6-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-icon08 {
  width: 24px;
  height: 24px;
}
.navbar6-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar6-icon10 {
  width: 24px;
  height: 24px;
}
.navbar6-container6 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
.navbar6-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar6-page1-image1 {
  width: 50px;
  height: 50px;
}
.navbar6-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar6-page11 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar6-page2-image1 {
  width: 50px;
  height: 50px;
}
.navbar6-content5 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar6-page21 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar6-page3-image1 {
  width: 50px;
  height: 50px;
}
.navbar6-content6 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar6-page31 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-menu-item7 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.navbar6-page4-image1 {
  width: 50px;
  height: 50px;
}
.navbar6-content7 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.navbar6-page41 {
  font-style: normal;
  font-weight: 600;
}
.navbar6-icon-group {
  gap: 32px;
  display: flex;
}
.navbar6-icon12 {
  height: 16px;
}
.navbar6-icon14 {
  height: 16px;
}
.navbar6-icon16 {
  height: 16px;
}
.navbar6-container7 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 991px) {
  .navbar6-container1 {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .navbar6-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .navbar6-container1 {
    display: none;
  }
  .navbar6-desktop-menu {
    display: none;
  }
  .navbar6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar6-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
